@keyframes effect012 {
  50% {
    transform: translate3d(20px, 0, 0);
  }

}

.Text012-container{
  width: 90%;
  overflow: hidden ;
}

.Text012 {
  color: white;
  animation-name: effect012;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}