.Button006 {
  font-weight: bolder;
  letter-spacing: 3px;
  padding: 10px;
  transition: 0.2s ease;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  }


.Button006:hover,
.Button006:focus-visible {
  --_p: 0%;
  --_i: 1;
}
