:root {
  background-color: #242424;
  background-image: url('bg.svg');
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}



* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
